<h1>Upload Mobile Details <a href="/mobile_list">Mobile List</a> </h1>
<form action="/save_mobile" method="post">
    Enter Mobile name
    <input type="text" name="mobile_name"><br><br>
    Enter Mobile Price
    <input type="number" name="mobile_price"><br><br>
    Enter Mobile Qty
    <input type="number" name="mobile_qty"><br><br>
    <button>Save Mobile</button>
</form>